* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:  #FF5733 ;
    padding: 0;
    margin: 10px 0;
}

.mobile-nav {
    display: none;
}
.Banner__Map {
    padding: .5px 0;
    margin: 10px 0;
    background-color: #ffeb3b8f;
}

.Banner__Map p {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;
    padding: 0;
    width: 100%;
    color: #5D737E;
}

.map-container {
    height: 100vh;
    width: 100%;
    margin: 0;
}
